#form {

  text-align: center;

}

.control{

  text-align: center;
 width: 20%;
 margin-left:40% ;
}


img {

margin: 3% 30% 3% 30%;
border: 2px solid;
border-color: yellow;
border-radius: 20px;
}

.name {

  text-align: center;
  border-bottom : 4px dotted;
  margin-right: 30%;
  margin-left: 30%;
  margin-top: 5%;
}